# Libraries
*.llb
*.lvlibp

# Shared objects (e.g., DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata (include necessary files)
!*.vi  # Include LabVIEW virtual instruments
!*.lvproj  # Include LabVIEW project files
*.aliases
*.lvlps
.cache/

